body{
    background-color: black;
}
h1{
    color: blueviolet;
    font-style: oblique;
    font-family:  Helvetica;
    font-size: 40px;
}
h2{
    color: deeppink;
    font-size: 26px;
}
p{
    color: darkcyan;
}

blockquote{
    color: darkcyan;
}
ul {
    color:darkcyan;
}

a{
    color: aqua;
}
